.event-list-container {
  flex: 1;
  background-color: #ebebeb;
  margin-top: 5px;
  margin-right: 5px;
}

.my-events-title {
  text-align: center;
  background-color: #455486;
  color: white;
  padding: 10px;
}

.event-list {
  display: flex;
  flex-direction: column;
}

.event-button {
  border: none;
  margin-bottom: 1px;
  color: black;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.event-button:hover {
  border: none;
  margin-bottom: 1px;
  color: white;
  background-color: #7489d0;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  outline: none;
}

.add-event-form {
  padding: 10px;
  margin: 10px;
}

.add-event-input {
  outline: none;
  border: none;
  padding: 10px;
  margin-bottom: 1px;
}

.add-event-button {
  padding: 10px;
  outline: none;
  border: none;
  margin-left: 2px;
  background-color: lightgray;
}

.add-event-button:hover {
  padding: 10px;
  outline: none;
  border: none;
  margin-left: 2px;
  background-color: #7489d0;
}
