.container-button-add-receipt {
  text-align: center;
  margin-top: 10px;
}

.container-split-list {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 200px;
}
.container-label-split {
  width: 100px;
}

.field-center {
  width: 100px;
}

.field-allocate {
  margin: auto !important;
  margin-bottom: 10px !important;
  text-align: center;
}

.input-allocate {
  width: 120px !important;
  border: none !important;
  padding: 9.5px 0 !important;
}

.label-allocate-error {
  color: red;
  width: 200px;
}

.label-split {
  width: 100px;
}
