.container-cards {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  margin: auto !important;
  margin-bottom: 10px !important;
}

.description {
  display: flex;
  flex-direction: column;
}

.label-debt {
  margin: auto !important;
  margin-left: 0 !important;
}
