.container-cards {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  margin: auto !important;
  margin-bottom: 10px !important;
}

.label-debt {
  margin: auto !important;
}
