/* desktop */
@media (min-width: 835px) {
  .container-breakdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }

  .container-matrix {
    margin-left: 20px;
  }
}

/* mobile */
@media (max-width: 834px) {
  .container-breakdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
}

.container-cards {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  margin: auto !important;
  margin-bottom: 10px !important;
}

.description {
  display: flex;
  flex-direction: column;
}

.label-debt {
  margin: auto !important;
  margin-left: 0 !important;
}

.container-label {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
