.create-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-receipt-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  width: 100%;
}

.gather-receipts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount-form {
  width: 80px;
  text-align: right;
}
