label {
  padding-left: 5px;
}

.wide.field {
  margin: 0 !important;
}

.fields {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  margin: 0 auto;
}

.receipt {
  border-bottom: 1px solid lightgray;
}

.receipt-container {
  padding: 0px 50px;
}
