/* desktop */
@media (min-width: 835px) {
  .container-list {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}

/* mobile */
@media (max-width: 834px) {
  .container-list {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
  }
}

.button-delete {
  margin-left: 5px !important;
}

.divider-receipts {
  margin: 10px 10px;
}

.header-title {
  color: #455486 !important;
}

.icon-receipts {
  color: #455486;
}

.input-item {
  width: auto !important;
}
.list-item {
  margin-bottom: 5px;
}
